.my-space {
    margin-right: 32px;
    padding: 0 28px;
    color: #000;
}

.my-heigth {
    margin-top: 77px;
}

.my-bg {
    background-color: #BDD531;
}

.btn:hover:hover {
    background:transparent;
    border: 1px solid #BDD531;
}
